{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset control-group">
	<label for="skypeId" class="control-label">
		<f:translate key="tx_femanagerextended_domain_model_user.skype_id" extensionName="femanagerextended">Twitter</f:translate>
	</label>
	<div class="controls">
		<femanager:form.textfield
				id="skypeId"
				property="skypeId"
				class="input-block-level"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'skypeId')}" />
	</div>
</div>
