<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:femanager="http://typo3.org/ns/In2code/Femanager/ViewHelpers"
        xmlns:femanagerextended="http://typo3.org/ns/In2code/Femanagerextended/ViewHelpers"
        data-namespace-typo3-fluid="true">
    <div class="femanager_fieldset femanager_user_categories form-group">
        <div class="col-sm-10">
            <fieldset>
                <f:translate key="tx_femanagerextended_domain_model_user.user_categories" extensionName="femanagerextended" />
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'user_categories')}">
                    <span>*</span>
                </f:if>
            </fieldset>
            <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'user_categories')}">
                <span>*</span>
            </f:if>
            <f:for as="category" each="{femanagerextended:form.getCategories(rootCategory:settings.userCategoriesRoot)}">
                <div class="form-check">
                    <f:form.checkbox property="userCategories" value="{category.uid}" multiple="true" class="form-check-input" />
                    <label class="form-check-label">{category.title}</label>
                </div>
            </f:for>
            <f:comment><!--
                # If you want to use a multiple select instead of checkboxes
                <f:form.select property="userCategories" options="{femanagerextended:form.getCategories(rootCategory:1)}" optionLabelField="title" multiple="true" class="form-select" />
            --></f:comment>
        </div>
    </div>
</html>